{% extends "partial_view/main.html" %}
{% load static %}
{% block content %}
    <link href="{% static '/product/css/product.css' %}" rel="stylesheet"/>
    <div class="row product_list">
        <div class="col col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title text-center text-md-left"> All Customers </h4>
                </div>
                <hr/>
                <div class="card-body">
                    <div class="table-responsive product_list_table">
                        <table class="table table-hover" id="product_list">
                            <thead class=" text-primary">
                            <th>ID</th>
                            <th>Customer Name</th>
                            <th>Mobile No</th>
                            <th>Address</th>
                            <th>Total item</th>
                            <th class="text-right">Total Due(BDT)</th>
                            </thead>
                            <tbody>
                            {% for customer in customer_list %}
                                <tr class="cursor-pointer customerRow"
                                    onclick="redirect_new_page('{% url 'product:customer_details' customer.id %}')"
                                    data-id="{{ customer.id }}">
                                    <td>{{ customer.id }}</td>
                                    <td>{{ customer.customer_name }}</td>
                                    <td>{{ customer.customer_phone }}</td>
                                    <td>{{ customer.customer_address }}</td>
                                    <td>{{ customer.total_item }}</td>
                                    <td class="text-right">{{ customer.total_due|floatformat:2 }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% csrf_token %}
{% endblock %}
{% block outside_wrapper %}
    {% if perms.product.delete_customer %}
        <ul class="ContextMenu ContextMenu--theme-default" id="contextMenu" data-contextmenu="0" tabindex="-1">
            <li class="ContextMenu-item" tabindex="0" id="deleteBtn"
                onclick="confirmDelete()" data-id="-1" data-delete-row
                data-delete-type="payment">
                <i class="fa fa-minus-circle context-menu-icon"></i>
                <strong style="margin-left: 20px;">Delete</strong>
            </li>
        </ul>
    {% endif %}
{% endblock %}
{% block add_new_js %}
    <script src="{% static  '/product/js/ajax_request.js' %}"></script>
    <script>
        {% if perms.product.delete_customer %}
            function customerListContextMenu() {
                $('.customerRow').on('contextmenu', function (e) {
                    e.preventDefault();
                    $('#contextMenu').css({
                        top: e.pageY + 'px',
                        left: e.pageX + 'px'
                    }).addClass('is-open');
                    var itemId = $(this).data('id');
                    $('#deleteBtn').data('id', itemId);
                    $('#deleteBtn').data('deleteRow', this);
                });
            }

            function customerDeleteSuccess(data, textStatus, jqXHR) {
                var deleteRow = $('#deleteBtn').data('deleteRow');
                var dataTable = $('#product_list').DataTable();
                dataTable.row($(deleteRow)).remove().draw();
                showToast('Customer has been deleted', 'success');
            }

            function customerDeleteError(data, textStatus, jqXHR) {
                var errors = data.responseJSON ? data.responseJSON : [{'error': ''}, {'error2': ''}];
                if ('permission_denied' in errors) {
                    showToast(errors.permission_denied, 'error');
                } else {
                    showToast('Error occurred while deleting customer', 'error');
                }
            }

            function customerDelete() {
                var customerId = $('#deleteBtn').data('id');
                ajaxRequest({
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                    customer_id: customerId
                }, 'customerDelete');
            }

            function confirmDelete() {
                var action = confirm('Do you really want to delete this customer? Then all order belong to this customer will be deleted too.');
                if (action) {
                    customerDelete();
                }
            }
        {% endif %}

        $(document).ready(function () {
            initDatatable();
            preventAutoFormSubmission();
            /*------------*/
            {% if perms.product.delete_customer %}
                customerListContextMenu();
                $(document).click(function () {
                    $('#contextMenu').removeClass('is-open');
                });
            {% endif %}
        });
    </script>
{% endblock %}