{% extends "partial_view/main.html" %}
{% load static %}
{% block content %}
    <link href="{% static '/product/css/product.css' %}" rel="stylesheet"/>
    <div class="row product_list">
        <div class="col col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title text-center text-md-left"> Released Histories </h4>
                </div>
                <hr/>
                <div class="card-body">
                    <div class="table-responsive product_list_table">
                        <table class="table table-hover" id="product_list">
                            <thead class=" text-primary">
                            <th>ID</th>
                            <th>Joining Date</th>
                            <th>Name</th>
                            <th>Phone No</th>
                            <th>Address</th>
                            <th class="text-right">Invested amount</th>
                            <th>Release Date</th>
                            </thead>
                            <tbody>
                            {% for release_history in release_histories %}
                                <tr class="cursor-pointer releaseRow" data-id="{{ release_history.id }}">
                                    <td>{{ release_history.id }}</td>
                                    <td>{{ release_history.joining_date|date:'d/m/Y h:i A' }}</td>
                                    <td>{{ release_history.name }}</td>
                                    <td>{{ release_history.phone_no }}</td>
                                    <td>{{ release_history.address }}</td>
                                    <td class="text-right">{{ release_history.total_investment|floatformat:2 }}</td>
                                    <td>{{ release_history.releasing_date|date:'d/m/Y h:i A' }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% csrf_token %}
{% endblock %}
{% block outside_wrapper %}
    {% if perms.investor.view_shareholderreleasehistory %}
        <ul class="ContextMenu ContextMenu--theme-default" id="contextMenu" data-contextmenu="0" tabindex="-1">
            <li class="ContextMenu-item" tabindex="0" id="deleteBtn"
                onclick="confirmDelete()" data-id="-1" data-delete-row
                data-delete-type="payment">
                <i class="fa fa-minus-circle context-menu-icon"></i>
                <strong style="margin-left: 20px;">Delete</strong>
            </li>
        </ul>
    {% endif %}
{% endblock %}
{% block add_new_js %}
    <script src="{% static  '/product/js/ajax_request.js' %}"></script>
    <script>
        {% if perms.investor.view_shareholderreleasehistory %}
            function releaseListContextMenu() {
                $('.releaseRow').on('contextmenu', function (e) {
                    e.preventDefault();
                    $('#contextMenu').css({
                        top: e.pageY + 'px',
                        left: e.pageX + 'px'
                    }).addClass('is-open');
                    var itemId = $(this).data('id');
                    $('#deleteBtn').data('id', itemId);
                    $('#deleteBtn').data('deleteRow', this);
                });
            }

            function releaseDeleteSuccess(data, textStatus, jqXHR) {
                var deleteRow = $('#deleteBtn').data('deleteRow');
                var dataTable = $('#product_list').DataTable();
                dataTable.row($(deleteRow)).remove().draw();
                showToast('Release history has been deleted', 'success');
            }

            function releaseDeleteError(data, textStatus, jqXHR) {
                var errors = data.responseJSON;
                if ('permission_denied' in errors) {
                    showToast(errors.permission_denied, 'error');
                } else {
                    showToast('Error occurred while deleting releasing history', 'error');
                }
            }

            function releaseDelete() {
                var releaseId = $('#deleteBtn').data('id');
                ajaxRequest({
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                    id: releaseId
                }, 'releaseDelete');
            }

            function confirmDelete() {
                var action = confirm('Do you really want to delete this history?');
                if (action) {
                    releaseDelete();
                }
            }
        {% endif %}

        $(document).ready(function () {
            initDatatable();
            preventAutoFormSubmission();
            /*------------*/
            {% if perms.investor.view_shareholderreleasehistory %}
                releaseListContextMenu();
                $(document).click(function () {
                    $('#contextMenu').removeClass('is-open');
                });
            {% endif %}
        });
    </script>
{% endblock %}